body{
	background-color: FireBrick;
	margin: 0;
	font-family: 'Helvetica', 'Arial', 'sans-serif'
}

header{
	text-align: center;
	padding-top: 50px;
}

header h1{
	color: Orange;
}

header img{
	border-radius: 150px;
}